@unocss default;

@font-face {
  font-family: 'Zed Mono';
  src: url('/fonts/zed-mono-regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Zed Mono';
  src: url('/fonts/zed-mono-medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Zed Mono';
  src: url('/fonts/zed-mono-bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Zed Mono';
  src: url('/fonts/zed-mono-italic.woff2');
  font-style: italic;
}

:root {
  @apply bg-[#e5e5e5] dark:bg-[#222428] text-[#222428] dark:text-[#EEEFEF];
  color-scheme: light dark;
  font-family: 'Zed Mono', sans-serif;
  font-size: 12px;

  --node-icons-color: #7a7c7e;
  --node-bg-color: #ededee;
  --node-border-color: #bbbdc1;
  --node-handle-color: #4d5259;

  @media (prefers-color-scheme: dark) {
    --node-bg-color: #3b4045;
    --node-border-color: #4d5259;
    --node-handle-color: #bbbdc1;
    --node-icons-color: #6b7077;
  }
}

h1 {
  font-size: 14px;
}

.no-bg {
  background: none !important;
  border-right: none !important;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(1deg);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) rotate(-1deg);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0) rotate(1deg);
  }
}

.shake {
  animation: shake 0.5s;
  @apply border-red-600 shadow-sm;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}