@unocss default;

@font-face {
  font-family: 'Zed Mono';
  src: url('/fonts/zed-mono-regular.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Zed Mono';
  src: url('/fonts/zed-mono-medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Zed Mono';
  src: url('/fonts/zed-mono-semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Zed Mono';
  src: url('/fonts/zed-mono-bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Zed Mono';
  src: url('/fonts/zed-mono-italic.woff2');
  font-style: italic;
}

:root {
  @apply bg-[#e8e8e8] dark:bg-[#222428] text-[#222428] dark:text-[#EEEFEF];
  color-scheme: light dark;
  font-family: 'Zed Mono', sans-serif;
  font-size: 12px;
  font-weight: 300;

  --shadow-inset: inset 0 3px 3px 0 rgba(255, 255, 255, 1), inset 0 4px 6px 0 rgba(0, 0, 0, 0.25);

  --stroke-color: #808080;

  --hover-color: #222428;
  --hover-bg-color: #e5e5e5;
  --node-icons-color: #7a7c7e;
  --node-bg-color: #ededee;
  --node-border-color: #bbbdc1;
  --node-handle-color: #4d5259;

  @media (prefers-color-scheme: dark) {
    --shadow-inset: inset 0 3px 3px 0 rgba(0, 0, 0, 0.25), inset 0 3px 5px 0 rgba(255, 255, 255, 0.25);

    --stroke-color: #b3b3b3;

    --hover-color: #EEEFEF;
    --hover-bg-color: #222428;

    --node-bg-color: #3b4045;
    --node-border-color: #4d5259;
    --node-handle-color: #bbbdc1;
    --node-icons-color: #6b7077;
  }
}

button:active {
  border-color: var(--stroke-color)
}

h1 {
  font-size: 14px;
}

.no-bg {
  background: none !important;
  border-right: none !important;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0) rotate(1deg);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) rotate(-1deg);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0) rotate(1deg);
  }
}

.animate-delay {
  animation-delay: 1s;
}

.shake {
  animation: shake 0.5s;
  @apply border-red-600 shadow-sm;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

.backdrop {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.95);
}

.btn-shadow {
  box-shadow: var(--shadow-inset)
}

@keyframes animloader {
  0% {
    box-shadow:
      14px 0 0 -2px,
      38px 0 0 -2px,
      -14px 0 0 -2px,
      -38px 0 0 -2px;
  }
  25% {
    box-shadow:
      14px 0 0 -2px,
      38px 0 0 -2px,
      -14px 0 0 -2px,
      -38px 0 0 2px;
  }
  50% {
    box-shadow:
      14px 0 0 -2px,
      38px 0 0 -2px,
      -14px 0 0 2px,
      -38px 0 0 -2px;
  }
  75% {
    box-shadow:
      14px 0 0 2px,
      38px 0 0 -2px,
      -14px 0 0 -2px,
      -38px 0 0 -2px;
  }
  100% {
    box-shadow:
      14px 0 0 -2px,
      38px 0 0 2px,
      -14px 0 0 -2px,
      -38px 0 0 -2px;
  }
}
