---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { DreamyGradient } from '@muridot0/dreamy-gradients'
import Card from '../components/Card.astro'
---

<Layout title='stylEase'>
  <Header />
  <main>
    <div class='container mt-4 text-center'>
      <div class='flex justify-center text-[3rem]'>
        <DreamyGradient
          size={{ height: '15rem', width: '15rem' }}
          color='linear-gradient(#EA8D8D, #A890FE)'
          animate='true'
          position={{ top: '10rem' }}
          blur={3}
          borderRadius='50%'
          client:only='react'
        />
        <h1 class='gradient'>
          <div>
            Introducing <span class='font-[Chilanka] font-normal'>
              stylEase
            </span>:
          </div>

          Transform Your Photos into
          <div>Masterpieces</div>
        </h1>
      </div>

      <div class='mt-4'>
        <h2 class='text-[1.25rem]'>
          Achieve easy artistry for everyday photos using styleEase!
        </h2>

        <button
          class='get-started relative mt-20 inline-flex items-center gap-2 rounded-lg px-2 py-1 pt-2 font-medium text-[#eeefef] hover:brightness-[110%] active:brightness-100'>
          Get started
        </button>
      </div>
    </div>

    <div class='mt-15 container relative flex justify-center'>
      <DreamyGradient
        size={{ height: '25rem', width: '25rem' }}
        color='linear-gradient(to right, #0e0725, #5c03bc, #e536ab, #f4e5f0)'
        position={{ top: '25rem', bottom: '10rem' }}
        animate='true'
        blur={13}
        client:only='react'
      />

      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='linear-gradient(#00ee6e, #0c75e6)'
        position={{ top: '0rem', right: '15rem' }}
        blur={5}
        client:only='react'
      />

      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='linear-gradient(#764BA2, #667EEA)'
        position={{ top: '0rem', left: '16rem' }}
        animate={{
          '0%': {
            transform: 'translateY(0) translateX(0) scale(0.25)',
            opacity: '1'
          },
          '100%': {
            transform: 'translateY(-200px) translateX(-20px) scale(1)',
            opacity: '0'
          }
        }}
        blur={1}
        borderRadius='50%'
        client:only='react'
      />

      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='yellow'
        position={{ top: '2rem', left: '16rem' }}
        animate={{
          '0%': {
            transform: 'translateY(0) translateX(0) scale(0.15)',
            opacity: '1'
          },
          '100%': {
            transform: 'translateY(-250px) translateX(-20px) scale(1)',
            opacity: '0'
          }
        }}
        blur={1}
        borderRadius='50%'
        client:only='react'
      />
      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='blue'
        position={{ top: '4rem', left: '16rem' }}
        animate={{
          '0%': {
            transform: 'translateY(0) translateX(0) scale(0.15)',
            opacity: '1'
          },
          '100%': {
            transform: 'translateY(-250px) translateX(-20px) scale(1)',
            opacity: '0'
          }
        }}
        blur={1}
        borderRadius='50%'
        client:only='react'
      />
      <DreamyGradient
        size={{ height: '8rem', width: '8rem' }}
        color='red'
        position={{ top: '6rem', left: '16rem' }}
        animate={{
          '0%': {
            transform: 'translateY(0) translateX(0) scale(0.15)',
            opacity: '1'
          },
          '100%': {
            transform: 'translateY(-250px) translateX(-20px) scale(1)',
            opacity: '0'
          }
        }}
        blur={1}
        borderRadius='50%'
        client:only='react'
      />

      <picture class='mr-4'>
        <source
          srcset='/app-image-dark.png'
          media='(prefers-color-scheme: dark)'
        />
        <img
          src='/app-image.png'
          class='relative w-full max-w-[992px] rounded-t-[12px] border-l border-r border-t border-[--border] shadow-2xl'
          alt=''
        />
      </picture>
    </div>

    <hr class='w-full border-t-[--border]' />

    <div class='block p-8 md:(flex justify-center gap-4 relative w-full bg-[--home-bg-color] py-8 px-24)'>
      <Card class='relative w-full max-w-[400px]' src='node-drawer-light.jpeg' darkSrc='node-drawer-dark.jpeg' />
      <Card class='relative w-full max-w-[400px]' src='/preview-light.jpeg' darkSrc='/preview-dark.jpeg'/>
      <Card class='relative w-full max-w-[400px]' src='model-node-light.jpeg'  darkSrc='model-node-dark.jpeg' />
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .grid {
  }
</style>
