---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="stylEase">
	<main>
		<Header />
	</main>
</Layout>
