---
const props = Astro.props
---

<div class:list={[props.class, ' bg-[--card-bg] p-2 rounded-[12px] border border-[--border]']}>
    <img class="border border-[--border] rounded-[6px]" src={props.src} alt={props.alt}>
  <div class="text-left">
    <h2>THe man is going home</h2>
    <p>skdjfkdsjfkdsjfdksjflsdkjf</p>
    <p>skdjfkdsjfkdsjfdksjflsdkjf</p>
    <p>skdjfkdsjfkdsjfdksjflsdkjf</p>
    <p>skdjfkdsjfkdsjfdksjflsdkjf</p>
    <p>skdjfkdsjfkdsjfdksjflsdkjf</p>
  </div>
</div>
