---
const props = Astro.props
---

<div class:list={[props.class, 'md:(block) flex mb-4']}>
  <picture>
    <source
      srcset={props.darkSrc}
      media='(prefers-color-scheme: dark)'
    />
    <img class="border border-[--border] rounded-[12px] shadow-lg w-full" src={props.src} alt={props.alt}>
  </picture>
  <div class="md:(py-4) max-md:pl-4">
    <h2>{props.title}</h2>
    <p class="text-[--text-muted]">sdfkdsfkdsjfkdsf dksfjdskfjdskf ksjdfkd s</p>
  </div>
</div>
