---
import { DreamyGradient } from "@muridot0/dreamy-gradients"

const date = new Date()
let year = date.getFullYear()
---

<footer class="w-full bottom-0 relative z-2 pb-2">
  <div class="border-t border-t-slate-400 sm:hidden w-full" />
    <div class="sm:(flex items-center justify-center) max-sm:container">
      <svg class="w-full hidden sm:block" xmlns="http://www.w3.org/2000/svg" width="1512" height="119" viewBox="0 0 1512 119" fill="none">
        <path d="M0 119C195.097 45.9997 462.134 1 756.657 1C1050.52 1 1317.02 45.798 1512 118.509" stroke="#6B7077"/>
      </svg>
    <div />
    <DreamyGradient
          size={{ height: '3rem', width: '3rem' }}
          color='linear-gradient(to top, #30cfd0 0%, #330867 100%)'
          position={{ bottom: '0rem', left: "-2rem"  }}
          blur={2}
          client:only='react'
        />
      <DreamyGradient
          size={{ height: '5rem', width: '5rem' }}
          color='linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%)'
          position={{ bottom: '0rem', right: "0rem" }}
          blur={3}
          client:only='react'
        />

    <div class="sm:absolute sm:(flex items-center flex-col mt-8) max-sm:m-4">
      <DreamyGradient
          size={{ height: '5rem', width: '5rem' }}
          color='linear-gradient(to top, #D4145A, #FBB03B)'
          position={{ bottom: '0rem'  }}
          blur={3}
          client:only='react'
        />
      <p>Copyright © {year} stylEase.</p>
      <p>All Rights Reserved.</p>
      <div class="rounded-full border border-[var(--text-muted)] gap-2 px-2 py-1 flex items-center w-max">
        <a href="https://github.com/muridot0/stylEase" class="inline-flex gap-2" aria-label="Github">
          <span class="i-lucide-github" title="My twitter" role="img"></span>
        </a>
        <a href="https://x.com/muri015" class="inline-flex gap-2" aria-label="Twitter">
          <span class="i-carbon-logo-x" title="My twitter" role="img"></span>
        </a>
      </div>
    </div>
  </div>

</footer>

<style>
</style>

