---
const date = new Date()
let year = date.getFullYear()
---

<footer class="w-full bottom-0 absolute">
  <div class="border-t sm:hidden w-full container" />
  <div class="flex items-center justify-center">
    <svg class="w-full hidden sm:block" xmlns="http://www.w3.org/2000/svg" width="1512" height="119" viewBox="0 0 1512 119" fill="none">
      <path d="M0 119C195.097 45.9997 462.134 1 756.657 1C1050.52 1 1317.02 45.798 1512 118.509" stroke="#6B7077"/>
    </svg>
    <div />
    <div class="sm:absolute sm:text-center p-4 ">
      <p>Copyright © {year} stylEase.</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>

</footer>

<style>
</style>

